/* .test-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 10px 10px 10px 10px;
    animation: Animation;
    animation-duration: 10s;
}

@media (max-width: 480px) {
    .test-box {
        background-color: blue;
        border-radius: 10px 10px 10px 10px;
        width: 100px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .test-box {
        background-color: purple;
        border-radius: 100px 0px 100px 0px;
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 769px) {
    .test-box {
        background-color: greenyellow;
        border-radius: 0px 100px 1px 100px;
        width: 300px;
        height: 500px;
    }
}

@keyframes Animation {
    0%{

    }
    100% {

    }
} */

.version-tag {
    background-color: #ffffff88;
    font-family: sans-serif;
    font-size: 11px;
    color: #000;
    padding: 8px 20px;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease-in-out;
    cursor: wait;
}

.version-tag:hover {
    background-color: #000000aa;
    color: #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0px 0px 0px 0px;
}

.background {
    background-image: url("../images/main_image.jpg");
    height: 100vh; /* Screen height */
    width: 100vw; /* Screen width */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    position: relative;
    image-resolution: 1080px;
}
.dashboardback {
    background-position: center;
    height: 670px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 43px;
    left: 123px;
    border-radius: 20px;
    opacity: 0.7;
    border-color: rgb(171, 173, 173);
    border-style: solid;
    border-width: 0px;
}
/*inventory dashboard background reduce opacity 0.7 to .05*/
.invdashboardback {
    background-position: center;
    height: 670px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 43px;
    left: 123px;
    border-radius: 20px;
    opacity: 0.5;
    border-color: rgb(171, 173, 173);
    border-style: solid;
    border-width: 0px;
}
.viewindashboardback {
    background-position: center;
    height: 670px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 43px;
    left: 123px;
    border-radius: 20px;
    opacity: 1;
    border-color: rgb(171, 173, 173);
    border-style: solid;
    border-width: 0px;
}
.navigationbar {
    background-position: center;
    height: 670px;
    width: 270px;
    background-image: linear-gradient(#8bd7dc, #1d7a8d);
    position: absolute;
    top: 43px;
    left: 123px;
    border-radius: 20px 0px 0px 19px;
    opacity: 1px;
}
.homelogo {
    background-image: url("../images/homeicon.png");
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 13px;
    left: 28px;
}
.RoomBookinglogo {
    background-image: url("../images/bookingicon.png");
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 14px;
    left: 28px;
}
.RoomManagementlogo {
    background-image: url("../images/roomManagementLogo.png");
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 14px;
    left: 28px;
}
.Dininglogo {
    background-image: url("../images/DiningLogo.png");
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 14px;
    left: 28px;
}
.Inventorylogo {
    background-image: url("../images/InventoryLogo.png");
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 13px;
    left: 28px;
}
.logo {
    background-image: url("../images/logo.jpg");
    height: 100px;
    width: 96px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 26px;
    left: 87px;
    border-radius: 6px;
    border-color: black;
    border-width: 3px;
}

.home {
    position: absolute;
    top: 150px;
    left: 0px;
    background-color: transparent;
    padding-left: 60px;
    padding-top: 15px;
    height: 35px;
    width: 210px;
    color: white;
    border-width: 0.2px 0px 0px 0px;
    border-style: solid;
    border-color: #81d6e7;
}
.RoomBooking {
    position: absolute;
    top: 200px;
    left: 0px;
    background-color: transparent;
    padding-left: 60px;
    padding-top: 15px;
    height: 35px;
    width: 210px;
    color: white;
    border-width: 0.2px 0px 0px 0px;
    border-style: solid;
    border-color: #82cfdf;
}
.RoomManagement {
    position: absolute;
    top: 250px;
    left: 0px;
    background-color: transparent;
    padding-left: 60px;
    padding-top: 15px;
    height: 35px;
    width: 210px;
    color: white;
    border-width: 0.2px 0px 0px 0px;
    border-style: solid;
    border-color: #73c1d1;
}
.Dining {
    position: absolute;
    top: 300px;
    left: 0px;
    background-color: transparent;
    width: 210px;
    padding-left: 60px;
    padding-top: 14px;
    height: 35px;
    color: white;
    border-width: 0.2px 0px 0px 0px;
    border-style: solid;
    border-color: #71bdcc;
}
.Inventory {
    position: absolute;
    top: 350px;
    left: 0px;
    background-color: transparent;
    width: 210px;
    padding-left: 60px;
    padding-top: 14px;
    height: 35px;
    color: white;
    border-width: 0.2px 0px 0.2px 0px;
    border-style: solid;
    border-color: #71bdcc;
}
.home:hover {
    background-color: #1d7a8d; /* Green */
    color: white;
    border-width: 0.6px 0px 0px 0px;
    border-style: solid;
    border-color: transparent;
}
.RoomBooking:hover {
    background-color: #1d7a8d; /* Green */
    color: white;
    border-width: 0.6px 0px 0px 0px;
    border-style: solid;
    border-color: transparent;
}
.RoomManagement:hover {
    background-color: #1d7a8d; /* Green */
    color: white;
    border-width: 0.6px 0px 0px 0px;
    border-style: solid;
    border-color: transparent;
}
.Dining:hover {
    background-color: #1d7a8d; /* Green */
    color: white;
    border-width: 0.6px 0px 0px 0px;
    border-style: solid;
    border-color: transparent;
}
.Inventory:hover {
    background-color: #1d7a8d; /* Green */
    color: white;
    border-width: 0.6px 0px 0px 0px;
    border-style: solid;
    border-color: transparent;
}
/*---------------------------------------------------------
  .logo:before {
    content: '';
    /*background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background: linear-gradient(45deg,  #000000, #016685, #16ada6, #24e6ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.logo:active {
    color: #000
}

/*.dashboardback:active:after {
    background: transparent;
}

.logo:hover:before {
    opacity: .7;
}

.logo:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
*/
