.invdashboardback {
    background-position: center;
    height: 87vh; /* Screen height */
    width: 85vw; /* Screen width */
    background-size: 85vw 87vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    border-radius: 20px;
    opacity: .5;
    border-color: rgb(171, 173, 173);
    border-style: solid;
    border-width: 0px;
  }
.formbackground{
    position: absolute;
    top: 106px;
    left: 522px;
    background-color: rgb(255, 255, 255);
    height: 560px;
    width: 760px;
    border-radius: 10px;
}
.addlogo{
    
    background-image: url("../images/inventorypdtelogo.png");
    height: 45px;
    width: 45px;
    background-size:45px  45px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 70px;
    opacity: 0.6;
}
.texbox{

    height: 40px;
    width: 290px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    

}
.ItemName{
    position: absolute;
    left: 62px;
    top: 150px;
    border-radius: 8px;

}

.select{
    position: absolute;
    left: 63px;
    top: 255px;
    height: 44px;
    width: 296px;
    border-radius: 8px;
    color:rgb(110, 110, 110) ;

}

.SupplireName{
    
        position: absolute;
        left: 62px;
        top: 360px;
        border-radius: 8px;

}
.UnitPrice{
    position: absolute;
    left: 402px;
    top: 150px;
}
.Quantity{
    position: absolute;
    left: 402px;
    top: 255px;
}
.Description{
    position: absolute;
    left: 402px;
    top: 360px;
}
.l1{
    position:absolute;
    left: 66px;
    top: 232px;
    
}
.l1::first-letter {
    color: rgb(255, 57, 57)
}

.l2{
    position:absolute;
    left: 66px;
    top: 127px;
    
}
.l2::first-letter {
    color: rgb(255, 57, 57)
}
.l3{
    position:absolute;
    left: 66px;
    top: 337px;
    
}
.l3::first-letter {
    color: rgb(255, 57, 57)
}
.l4{
    position:absolute;
    left: 402px;
    top: 127px;
    
}
.l4::first-letter {
    color: rgb(255, 57, 57)
}
.l5{
    position:absolute;
    left: 402px;
    top: 232px;
    
}
.l5::first-letter {
    color: rgb(255, 57, 57)
}
.l6{
    position:absolute;
    left: 402px;
    top: 337px;
    
}
.l6::first-letter {
    color: rgb(255, 57, 57)
}
.submitbtn{
    height: 38px;
    width: 130px;
    position: absolute;
    left: 62px;
    top: 470px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: white;
    background-color: rgb(230, 135, 27);
    font-size: large;
    border-color:rgb(238, 145, 24);

    cursor: pointer;

}
.submitbtn:hover{
    background-color: rgba(216, 72, 6, 0.747);
}

.clearbtn{
    height: 38px;
    width: 130px;
    position: absolute;
    left: 222px;
    top: 470px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: white;
    background-color: rgb(255, 62, 62);
    font-size: large;
    border-color: rgb(255, 0, 0);
}
.clearbtn:hover{
    background-color: rgb(255, 19, 19);
}
.title{
    font-size: 30px;
    position:absolute;
    top: 32px;
    left: 130px;
}
.error2{

    position:absolute;
    left: 62px;
    top: 200px;
    color: red;
}
.error3{

    position:absolute;
    left: 62px;
    top: 410px;
    color: red;
}
.error4{

    position:absolute;
    left: 402px;
    top: 200px;
    color: red;
}
.error5{

    position:absolute;
    left: 402px;
    top: 305px;
    color: red;
}
.error6{

    position:absolute;
    left: 402px;
    top: 410px;
    color: red;
}


.text-success{
    background-color: aqua;
    color: black;
}



.susceessmg{
    position: absolute;
    top: 77px;
    right: 0px;
    height: 30px;
    width: 760px;
    background-color: rgba(169, 255, 205, 0.5);
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: rgb(0, 143, 36);
    animation: hideAnimation 2s ease-in 2s;
  animation-fill-mode: forwards;
  
}
@keyframes hideAnimation {
    to {
      /* visibility: hidden; */
      opacity: 0;
      
    }

.backbtn{
    background-image: url("../images/inventory_search_back_btn.png");
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
   
    position: absolute;
    top: -40px;
    left: -100px;
    /* border-style: groove;
    border-color: black; */

  }